<head>
    <link href= "../../assets/stylesheets/dragons.scss" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Cormorant+Unicase|Kumar+One+Outline" rel="stylesheet">

<style>
body {
    background-color: ;
}
    h1 {
    text-align: center;
    font-family:'Cormorant Unicase', serif;
    font-family: 'Kumar One Outline', cursive;
    }
    #mudwingbtn {
        height: 20px;
        width: 10%;
        background-color:#8e4d02;
        border-radius: 5px;
        border-color: black;
        border-style: dotted;
        color:#592d00;
    }
    #mudwingbtn:hover{
        background-color:#1c0f01;
    }
#sandwingbtn {
        height: 20px;
        width: 10%;
        background-color:#9b6001;
        border-radius: 5px;
        border-color: black;
        border-style: dotted;
        color:#663e00;
    }
    #sandwingbtn:hover{
        background-color:#442a00;
    }
    #skywingbtn {
        height: 20px;
        width: 10%;
        background-color:#770900;
        border-radius: 5px;
        border-color: black;
        border-style: dotted;
        color:#c90000;
    }
    #skywingbtn:hover{
        background-color:#3a0000;
    }
     #seawingbtn {
        height: 20px;
        width: 10%;
        background-color:#00174f;
        border-radius: 5px;
        border-color: black;
        border-style: dotted;
        color:#00939e;
    }
    #seawingbtn:hover{
        background-color:#00002b;
    }
    #rainwingbtn {
        height: 20px;
        width: 10%;
        background-image: url('https://www.walldevil.com/wallpapers/a61/google-rainy-desktop-pixels-rain-doodle-wallpaper-images.jpg')
        border-radius: 5px;
        border-color: black;
        border-style: dotted;
        color:#ffffff;
    }
    #rainwingbtn:hover{
        background:linear-gradient(to right, #5b0000,#a03501,#846e00,#096801,#004951,#0a004c,#3b0056);
    }
         #icewingbtn {
        height: 20px;
        width: 10%;
        background-color:#51fff6;
        border-radius: 5px;
        border-color: black;
        border-style: dotted;
        color:#eafffe;
    }
    #icewingbtn:hover{
        background-color:#2e7774;
</style>
</head>
<body>
    <h1>Wings of Fire</h1>
    <p> There are many types of dragons in the series Wings of Fire. The types of dragons are called tribes. I will be describing each of those tribes as well as two tribes of my own. I shall also describe theories, ships(within the characters(Doi)), and the characters themselves.</p>
    <a href=""><div id = "mudwingbtn">mudwing</div></a>
    <a href=""><div id = "sandwingbtn">sandwing</div></a>
    <a href=""><div id = "skywingbtn">skywing</div></a>
    <a href=""><div id = "seawingbtn">seawing</div></a>
    <a href=""><div id = "rainwingbtn">rainwing</div></a>
    <a href=""><div id = "icewingbtn">icewing</div></a>
    </body>

